<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gopang.xml.menu">
	<select id="selectAllMenu" resultType="menu">
		SELECT MENUNAME, BRANDNO, PRICE, NVL(INFO,'-') INFO, PICTURE
		FROM MENU
	</select>
	
	<select id="getMenuTotalRow" resultType="java.lang.Integer">
		SELECT COUNT(MENUNAME)
		FROM MENU
	</select>
	
	<select id="searchMenu" parameterType="java.util.HashMap" resultType="menu">
		SELECT RM, MENUNAME, BRANDNO, PRICE, NVL(INFO,'-') INFO, PICTURE
		FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY MENUNAME DESC) RM, MENUNAME, BRANDNO, PRICE, INFO, PICTURE
		FROM MENU)
		WHERE RM BETWEEN #{start} AND #{end}
		ORDER BY MENUNAME
	</select>
	
</mapper>
